@layout("/common/_container.html"){
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                            <#input id="catId" name="分类id" value="${item.catId}" underline="true"/>
                            <#input id="name" name="分类名称" value="${item.name}" underline="true"/>
                            <#input id="parentCid" name="父分类id" value="${item.parentCid}" underline="true"/>
                            <#input id="catLevel" name="层级" value="${item.catLevel}" underline="true"/>
                            <#input id="showStatus" name="是否显示[0-不显示，1显示]" value="${item.showStatus}" />
                </div>

                <div class="col-sm-6">
                            <#input id="sort" name="排序" value="${item.sort}" underline="true"/>
                            <#input id="icon" name="图标地址" value="${item.icon}" underline="true"/>
                            <#input id="productUnit" name="计量单位" value="${item.productUnit}" underline="true"/>
                            <#input id="productCount" name="商品数量" value="${item.productCount}" />
                </div>
            </div>

            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="CategoryInfoDlg.editSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="CategoryInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/category/category/category_info.js"></script>
@}
